body {
    background-color: rgb(241, 241, 241);

}

.container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
   
}

#container1 {
    display: flex;
    width:100%;
    
}

.image {
    width: 370px;
    margin-top: 50px;
    text-align: center;
}

@media(max-width:770px) {
    .container {
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}